<!-- movie-details.component.html -->
@if (movie) {
<div class="movie-details-container">
  <div class="movie-poster">
      <img [src]="movie.Poster ?? movie.thumbnail" alt="Poster of {{ movie.Title }}">
  </div>
  <div class="movie-info">
      <h1>{{ movie.Title ?? movie.title }} ({{ movie.Year }})</h1>
      <p><strong>Genre:</strong> {{ movie.Genre }}</p>
      <p><strong>Director:</strong> {{ movie.Director }}</p>
      <p><strong>Actors:</strong> {{ movie.Actors }}</p>
      <p><strong>Plot:</strong> {{ movie.Plot }}</p>
      <p><strong>Rating:</strong> {{ movie.imdbRating }} (IMDb), {{ movie.Ratings[0].Value }}</p>
      <p><strong>Released:</strong> {{ movie.Released }}</p>
      <p><strong>Runtime:</strong> {{ movie.Runtime }}</p>
      <p><strong>Language:</strong> {{ movie.Language }}</p>
      <p><strong>Country:</strong> {{ movie.Country }}</p>
      <p><strong>Awards:</strong> {{ movie.Awards }}</p>
  </div>
</div>
}

