/* sidenav.component.css */
/* styles.css or app.component.css */
body, html {
  margin: 0;
  font-family: Arial, sans-serif;
}

.content {
  margin-left: 240px; /* Adjusted to the width of the sidenav */
  padding: 20px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a.logo {
  font-size: 22px;
  color: #f1f1f1;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #575757;
  cursor: pointer;
}

/* Style the content */
.content {
  margin-left: 250px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

